 body {
  scroll-behavior: smooth;
 }
 
 #root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  margin: 0;
  padding: 0;
  }

*{
  margin: 0;
  padding: 0;
}
.nav-items{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  margin: 0 auto;
  padding: 0;
}

.Logo{
  color: white;
}

.button{
  color: white;
  display: flex;
  gap: 3rem;
  margin: 2rem;
  font-size: 2rem;
  cursor: pointer;
}


.button-element:hover{
  color: blue;
}

